
flota_vehiculos/.idea/

flota_vehiculos/flota_vehiculos/__pycache__/

flota_vehiculos/persona/__pycache__/

flota_vehiculos/persona/migrations/__pycache__/

flota_vehiculos/persona/serializers/__pycache__/

flota_vehiculos/persona/views/__pycache__/

flota_vehiculos/vehiculo/__pycache__/

flota_vehiculos/vehiculo/migrations/__pycache__/

flota_vehiculos/vehiculo/serializers/__pycache__/

flota_vehiculos/vehiculo/views/__pycache__/
